@model Brehns_Maintance_App.Services.Analysis;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome  </h1>
    <a class="nav-link text-primary" asp-area="" asp-controller="Projects" asp-action="Index"> View Projects </a>

</div>
